form {
    display: flex;
    gap: 20px;
}

input,
select,
button {
    font-size: 16px;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr auto;
}

.actions {
    display: flex;
    gap: 8px;
}