<div class="list-item">
    <form [formGroup]="form">
        <input type="text" formControlName="baseLanguage">
        <input type="text" formControlName="resultLanguage">
        <select formControlName="wordType">
            @for (type of wordTypeOptions; track $index) {
                <option [value]="type">
                    {{ type }}
                </option>
            }
        </select>
        <input type="text" formControlName="category">
    </form>
    <div class="actions">
        @if (isReadOnly) {
            <button (click)="removeItem()">-</button>
        } 
        @else {
            <button [disabled]="form.invalid" (click)="addItem()">+</button>
        }
    </div>
</div>