:host {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;

    /* Hack make better */
    height: 98vh;  
}

.flashcard {
    border: 1px solid black;
    font-size: 3rem;
    padding: 20px;
    background-color: #f2b704;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
}

input {
    font-size: 2rem;
}

.flashcard--default {
  background-color: #f2b704;
}

.flashcard--correct {
  background-color: #4CAF50;
}

.flashcard--incorrect {
  background-color: #f2b704;
  animation: wiggle 0.5s ease-in-out;
}

.input-field--incorrect {
  background-color: #d10b25;
}

@keyframes wiggle {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}